body {
  margin: 0;
  background-color: #f4f4f4;
  padding-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
}

.btn-primary {
  background: #35424a;
  border-color: #35424a;
}

.btn-primary:hover {
  background: #e8491d;
  border-color: #e8491d;
}

.btn-outline-primary {
  color: #35424a;
  background: transparent;
  border-color: #35424a;
}

.btn-outline-primary:hover {
  background: #35424a;
  border-color: #35424a;
  color: #fff;
}

header {
  background: #35424a;
  color: #ffffff;
  border-bottom: #e8491d 3px solid;
}

header .fa {
  color: #fff;
  margin-right: 3px;
}

header a {
  color: #ffffff;
  text-decoration: none;
  position: relative;
  margin-left: 5px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

header a::before {
  content: '';
  position: absolute;
  border: 1px solid red;
  bottom: 0;
  left: 5%;
  width: 90%;
  -webkit-transition: -webkit-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

header a:hover {
  color: #ffffff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header a:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

#showcase {
  text-align: center;
  min-height: 50vh;
  background-color: #35424a;
  background-image: url("../img/bg_1920.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  font-weight: 600;
}

#showcase .jumbotron {
  background: rgba(0, 0, 0, 0.57);
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#showcase .jumbotron h1, #showcase .jumbotron h2 {
  font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 360px) {
  #showcase .jumbotron h1 {
    font-size: 1.5rem;
  }
  #showcase .jumbotron h2 {
    font-size: 1.2rem;
  }
  #showcase .jumbotron .h3 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 587px) {
  #showcase .jumbotron h1 {
    font-size: 2rem;
  }
  #showcase .jumbotron h2 {
    font-size: 1.5rem;
  }
  #showcase .jumbotron .h3 {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 768px) {
  #showcase .jumbotron h1 {
    font-size: 3rem;
  }
  #showcase .jumbotron h2 {
    font-size: 2.5rem;
  }
  #showcase .jumbotron .h3 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  #showcase .jumbotron h1 {
    font-size: 3.5rem;
  }
  #showcase .jumbotron h2 {
    font-size: 3rem;
  }
  #showcase .jumbotron .h3 {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1900px) {
  #showcase h1 {
    font-size: 4.5rem;
  }
  #showcase h2 {
    font-size: 3rem;
  }
}

.banner {
  min-height: 15vh;
  background-color: #35424a;
  background-image: url("../img/bg_1920.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-weight: 600;
}

.banner .jumbotron {
  background: rgba(0, 0, 0, 0.57);
  min-height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .jumbotron h1, .banner .jumbotron h2 {
  font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 587px) {
  .banner .jumbotron h1 {
    font-size: 2rem;
  }
  .banner .jumbotron h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .banner .jumbotron h1 {
    font-size: 3rem;
  }
  .banner .jumbotron h2 {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .banner .jumbotron h1 {
    font-size: 3.5rem;
  }
  .banner .jumbotron h2 {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 1900px) {
  .banner h1 {
    font-size: 4.5rem;
  }
  .banner h2 {
    font-size: 3rem;
  }
}
/*# sourceMappingURL=main.css.map */